.clear-button {
    height: 70px;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(102, 3, 184);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    border: solid 2px white;
    margin: 5px;
    cursor: pointer;
    user-select: none;    
    box-shadow: -1px 4px 1px 1px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear-button:hover {
    background-color: rgb(56, 2, 107);
}